.nav-all {
    border: solid 0.5px gainsboro;
    max-height: 100px;
}
.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
    
    font-size : 23px;
    font-weight: lighter;
    color:rgb(0, 0, 0);
}

.nav-setting {
    position: absolute;
    right:0;
    top:0;
    z-index:1;
    margin-top:6px;
}


.nav-icon {
    margin-top : 5px;
    
}

.Nav-logo {
    
}

.nav-type {
    margin-top:5px;
    font-size :16.5px;
    font-weight: lighter;
}
