.Login-all{
    background-color: rgb(220, 233, 245);
    width: 500px;
    height: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 90px;
    border:solid gainsboro;
    border-radius: 30px;
    

}


.Login-Logo{
    font-size: 60px;
    text-align: center;
    height: 90px;
    color: rgba(15, 170, 241, 0.863);
    margin-top: 35px;
    
}


.form {
    width: 300px;
    margin-left : auto;
    margin-right: auto;
    margin-top: 40px;
}



.btn-log {
    background-color: rgb(80, 183, 252);
    border-color:rgb(80, 183, 252);
}
