.task-table-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.task-table-th{
    width: 200px;
    text-align: center;
    height: 20px;
}

.task-table{
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  .task-table-th, .task-table-td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }

  .task-table-th:first-child, .task-table-td:first-child {
    border-left: none;
  }