.Header-all {
  height: 50px; 
}

.Header-Logo {
  display: flex;
  justify-content: center;
  font-size: 40px;
  width: 100%;
}


.Main-text {
  height: 50px;
  background-color: rgb(122, 152, 227);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color:white;
}

.Header-Login {
  position: absolute;
  right:40px;
  top:20px;
  z-index:1;
  border:none;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  block-size: 40px;
  font-size: 18px;
  background-color: white;
}

.Header-Register{
  position: absolute;
  right:120px;
  top:20px;
  border:none;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  block-size: 40px;
  font-size: 18px;
  background-color: white;
}